[Unit]
Description='todo application'

[Service]
ExecStart=node {{ application }}
ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s QUIT $MAINPID
Restart=always
User={{ app_user }}
Group={{ app_group }}
#Environment=NODE_ENV=production

[Install]
WantedBy=multi-user.target